button {
    width: 75px;
    height: 50px;
    border-radius: 5px;
    padding-top: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    position: relative;
    transition: background-color 0.3s ease;
    
}


#Delete {
    background-image: url("../deleteButton.png") ;
 
}
#Watching {
    background-image: url("../watchingButton.png");
    
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
button:hover::before {
    opacity: 1;
}